@import "../../variables.scss";
@import "../grid/grid.scss";
//@use '../grid/grid.scss';

.sat-breadcrumbs {
  display: flex;
  &__separator {
    margin: 0 $unit;
    color: $color-gray-6;
  }
  &__crumb {
    display: flex;
    white-space: nowrap;
  }
}
