$material-design-icons-class-icons-generate-codepoints: false;
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons.scss';

.icon {
  @extend .material-icons;
  vertical-align: middle;
  user-select: none;
  font-size: 18px;
  display: inline-flex;
  &_sm {
    font-size: 12px;
  }
  &_lg {
    font-size: 24px;
  }
}
