@import "~@fontsource/ibm-plex-sans/index.css";
@import "~bootstrap/scss/bootstrap-reboot";
// @import "~highlight.js/styles/a11y-dark.css";

// @import "~tom-select/dist/css/tom-select.default.css";

@import "./variables.scss";
@import "./utilities.scss";

body {
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
